:root {
	--colorA: rgb(44, 44, 44);
	--colorB: rgb(239, 239, 239);
	--colorC: rgb(80, 80, 80);
	--colorD: rgb(120, 120, 120);
	--colorE: rgb(160, 160, 160);
}

* {
	box-sizing: border-box;
}

html {
	width: 100%;
	min-height: 100%;

	padding: 0;
	margin: 0;
}

body {
	background-color: var(--colorA);
	color: var(--colorB);
	font-family: Ubuntu, sans-serif;

	width: 100%;
	min-height: 100%;

	padding: 0;
	margin: 0;

	overflow-x: hidden;
	text-align: center;
	font-size: 16px;
}

.bg-title {
	position: fixed;
	z-index: -1;
	
	user-select: none;
	color: rgba(239, 239, 239, 0.03);
}



.nav {
	position: sticky;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;

	width: 100%;
}

.tab {
	width: calc(100%/3);

	border-left: solid var(--colorA) 0.08em;
	border-right: solid var(--colorA) 0.08em;

	padding: 0.8em 0 0.6em 0;

	background-color: var(--colorC);

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 1.875em;
	font-weight: 500;

	user-select: none;

	cursor: pointer;
}

.tab:hover {
	background-color: var(--colorD);
}

.tab-active {
	background-color: var(--colorA);
	cursor: unset;
}

.tab-active:hover {
	background-color: var(--colorA);
}



.page {
	padding: 1.25em;

	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}



.counters {
	margin-bottom: 2em;
	width: 100%;

	padding: 0.625em;

	border: solid var(--colorD) 0.1875em;
	border-radius: 0.625em;

	background-color: var(--colorA);

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.counter {
	margin-right: 0.5em;

	width: 2em;
	height: 2em;

	border: solid var(--colorB) 0.1875em;
	border-radius: 0.4em;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 1.875em;
	font-weight: bold;

	user-select: none;

	cursor: pointer;
}

.counter:hover {
	background-color: var(--colorC);
}

.counter-active {
	color: var(--colorA);
	background-color: var(--colorB);
	border: none;
}

.counter-active:hover {
	background-color: var(--colorE);
}



.info {
	font-size: 2.5em;

	margin-bottom: 0.5em;
}

table {
	padding: 0.3125em 1.25em;

	min-width: 60%;

	border: solid var(--colorD) 0.1875em;
	border-radius: 0.625em;
	border-spacing: 0;

	background-color: var(--colorA);

	display: none;
}

tr * {
	border-bottom: solid var(--colorD) 3px;
}

tr:last-child * {
	border: none;
}

td {
	padding: 0.3em 0;
}

.td-arabic {
	padding-right: 0.625em; 
	padding-left: 0.625em;

	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
}

.td-kanji {
	min-width: 30%;

	text-align: center;
	font-size: 1.875em;
}

.td-kana {
	min-width: 50%;

	text-align: center;
	font-size: 1.875em;
}

button {
	width: 12.5em;
	height: 3.75em;

	background-color: rgb(130, 130, 130);
	border: solid rgb(239, 239, 239) 0.1875em;
	border-radius: 0.625em;

	font-size: 1.25em;
	font-weight: bold;
	color: rgb(44, 44, 44);
}

button:hover {
	background-color: rgb(160, 160, 160);
}