:root {
	--colorA: #2c2c2c;
	--colorB: #efefef;
	--colorC: rgb(80, 80, 80);
	--colorD: rgb(120, 120, 120);
	--colorE: rgb(160, 160, 160);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#fullscreen {
	position: fixed;

	background-color: var(--colorA);
	color: var(--colorB);
	font-family: Ubuntu, sans-serif;

	width: 100vw;
	height: 100vh;

	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	overflow: hidden;
	text-align: center;
	font-size: 16px;
}

.bg-title {
	position: fixed;
	z-index: -1;
	
	user-select: none;
	color: rgba(239, 239, 239, 0.03);
}



.nav {
	position: sticky;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;

	width: 100%;
}

.tab {
	width: calc(100%/3);

	border-left: solid var(--colorA) 0.4vmin;
	border-right: solid var(--colorA) 0.4vmin;

	padding: 3vmin 0 2vmin 0;

	background-color: var(--colorC);

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 5vmin;
	font-weight: 500;

	user-select: none;

	cursor: pointer;
}

.tab:hover {
	background-color: var(--colorD);
}

.tab-active {
	background-color: var(--colorA);
	cursor: unset;
}

.tab-active:hover {
	background-color: var(--colorA);
}



.page {
	flex-grow: 1;
	width: 100%;

	padding: 2vmin;

	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	overflow-y: auto;
}



.countainer {
	margin-bottom: 4vmin;
	width: 100%;

	padding: 0.6vmin;
	border: solid var(--colorD) 0.8vmin;
	border-radius: 2vmin;

	background-color: var(--colorA);
}

.counters {
	margin: -1vmin;

	padding: 1vmin;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.counter {
	margin: 1vmin;

	width: 12vmin;
	height: 12vmin;

	border: solid var(--colorB) 1vmin;
	border-radius: 2vmin;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 5vmin;
	font-weight: bold;

	user-select: none;

	cursor: pointer;
}

.counter:hover {
	background-color: var(--colorC);
}

.counter-active {
	color: var(--colorA);
	background-color: var(--colorB);
	border: none;
}

.counter-active:hover {
	background-color: var(--colorE);
}



.info {
	font-size: 8vmin;

	margin-bottom: 6vmin;
}

table {
	padding: 1vmin 3vmin;

	min-width: 60%;

	border: solid var(--colorD) 0.8vmin;
	border-radius: 2vmin;
	border-spacing: 0;

	background-color: var(--colorA);

	display: none;
}

tr * {
	border-bottom: solid var(--colorD) 3px;
}

tr:last-child * {
	border: none;
}

td {
	padding: 2vmin 0;
}

.td-arabic {
	padding-right: 2vmin; 
	padding-left: 2vmin;

	text-align: center;
	font-size: 4vmin;
	font-weight: bold;
}

.td-kanji {
	min-width: 30%;

	padding-right: 2vmin; 
	padding-left: 2vmin;

	text-align: center;
	font-size: 6vmin;
}

.td-kana {
	min-width: 50%;

	padding-right: 2vmin; 
	padding-left: 2vmin;

	text-align: center;
	font-size: 6vmin;
}


.answer {
	margin-bottom: 6vmin;

	flex-grow: 1;
	width: 100%;

	border: solid var(--colorD) 0.8vmin;
	border-radius: 2vmin;

	background-color: var(--colorA);

	padding: 4vmin;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.next {
	width: 100%;
	min-height: 14vmin;
	height: 14vmin;

	border: solid var(--colorB) 0.5vmin;
	border-radius: 2vmin;

	background-color: var(--colorA);

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 5vmin;

	cursor: pointer;
}

.next:hover {
	background-color: var(--colorC);
}

#orderAnswer {
	visibility: hidden;
}

#orderNext {
	display: none;
}

button {
	border: none;

	color: inherit;
	background-color: inherit;
}

button:hover {
	text-decoration: none;
}